<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target xsi:type="FormControl" name="WinFormTextBoxTarget" append="true" reverseOrder="false" controlName="tbLog" formName="Form1"/>
			<target xsi:type="File" name="logfile" fileName="log.txt"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="WinFormTextBoxTarget"/>
		</rules>
		
	</nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
